a#reload-data {
	background-color: #5cb85c;
    padding: 10px;
    border-radius: 6px;
    display: inline-block;
    color: white;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 100;
    cursor: pointer;
    text-decoration: none;
}
a#reload-data:hover {
	background-color: #3f943f;
}

a#reload-data.in-progress {
	background-color: #79c179;
	cursor: default;
}

table {
    border: 2px solid #2ce879;
}
tbody {
    text-align: center;
}

#search-div {
	padding: 20px;
}

#search-div input{
    margin: 10px;
    padding: 5px;
}

.search {
    padding: 7px;
    background-color: #00b5d4;
    border-radius: 5px;
    margin: 5px;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: white;
    cursor: pointer;
}
.search.in-progress {
    background-color: #6cb0bb;
}

.search:hover {
	background-color: #01a0bb;
}